<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>

<h1 class="text-center">Hola</h1>
<h2>sale o no sale?</h2>
<h2> Lista de Compradores </h2>

{{!-- esto era parte de la idea de los compradores recientes --}}
{{!-- <ul id="lista-usuarios"></ul> --}}
    <script src="/js/main.js" defer></script>
</body>
</html>